<div class="page-header">
  <h1>
    Surveys
    <a href="/surveys/new" class="btn btn-lg btn-success">New Survey</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Question text</th>
        <th>Option1</th>
        <th>Option2</th>
        <th>Restaurant</th>
        <th>Actions</th>
      </tr>

      <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.question_text %></td>
        <td><%= survey.option1 %></td>
        <td><%= survey.option2 %></td>
        <td>
          <% if survey.restaurant.present? %>
            <a href="/restaurants/<%= survey.restaurant.id %>">
              <%= survey.restaurant.created_at %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/surveys/<%= survey.id %>" class="btn btn-primary">Show</a>
          <a href="/surveys/<%= survey.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_survey/<%= survey.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @surveys, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
