<!-- Validation failure messages -->
<% if @survey.errors.any? %>
  <% @survey.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Survey</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_survey" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for question_text -->
      <div class="form-group">
        <label for="question_text" class="control-label">
          Question text
        </label>

        <textarea id="question_text" name="question_text" placeholder="Question text" class="form-control" rows="3"><%= @survey.question_text %></textarea>
      </div>

      <!-- Label and input for option1 -->
      <div class="form-group">
        <label for="option1" class="control-label">
          Option1
        </label>

        <input type="text" id="option1" name="option1" placeholder="Option1" class="form-control" value="<%= @survey.option1 %>">
      </div>

      <!-- Label and input for option2 -->
      <div class="form-group">
        <label for="option2" class="control-label">
          Option2
        </label>

        <input type="text" id="option2" name="option2" placeholder="Option2" class="form-control" value="<%= @survey.option2 %>">
      </div>

      <!-- Label and input for restaurant_id -->
      <div class="form-group">
        <label for="restaurant_id" class="control-label">
          Restaurant
        </label>

        <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :created_at, @survey.restaurant_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Survey
      </button>
      or
      <a href="/surveys">Cancel</a>
    </form>
  </div>
</div>
