<div class="page-header">
  <h3>Survey #<%= @survey.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Question text</dt>
      <dd><%= @survey.question_text %></dd>

      <dt>Option1</dt>
      <dd><%= @survey.option1 %></dd>

      <dt>Option2</dt>
      <dd><%= @survey.option2 %></dd>

      <dt>Restaurant</dt>
      <dd>
        <% if @survey.restaurant.present? %>
          <a href="/restaurants/<%= @survey.restaurant_id %>">
            <%= @survey.restaurant.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/surveys" class="btn btn-primary">
        Back
      </a>
      <a href="/surveys/<%= @survey.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_survey/<%= @survey.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Survey has many submissions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Submissions
      </li>

      <% @survey.submissions.each do |submission| %>
        <li class="list-group-item">
          <a href="/submissions/<%= submission.id %>">
            <%= submission.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/submissions/<%= submission.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/submissions/<%= submission.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_submission/<%= submission.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_submission" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for survey_id -->
      <input type="hidden" name="survey_id" value="<%= @survey.id %>">

      <button class="btn btn-block btn-success">
        Create Submission
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Survey has many completed_submissions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Completed_submissions
      </li>

      <% @survey.completed_submissions.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
