<div class="page-header">
  <h3>Survey #<%= @survey.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Question text</dt>
      <dd><%= @survey.question_text %></dd>

      <dt>Option1</dt>
      <dd><%= @survey.option1 %></dd>

      <dt>Option2</dt>
      <dd><%= @survey.option2 %></dd>

      <dt>Restaurant</dt>
      <dd><%= @survey.restaurant_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/surveys" class="btn btn-primary">
        Back
      </a>
      <a href="/surveys/<%= @survey.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_survey/<%= @survey.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
