<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @restaurant.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @restaurant.user %>
        <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Restaurant has many surveys -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Surveys
      </li>

      <% @restaurant.surveys.each do |survey| %>
        <li class="list-group-item">
          <a href="/surveys/<%= survey.id %>">
            <%= survey.question_text %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/surveys/<%= survey.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/surveys/<%= survey.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_survey/<%= survey.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
