<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @restaurant.user.present? %>
          <a href="/users/<%= @restaurant.user_id %>">
            <%= @restaurant.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @restaurant.user %>
        <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Restaurant has many surveys -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Surveys
      </li>

      <% @restaurant.surveys.each do |survey| %>
        <li class="list-group-item">
          <a href="/surveys/<%= survey.id %>">
            <%= survey.question_text %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/surveys/<%= survey.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/surveys/<%= survey.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_survey/<%= survey.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_survey" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for question_text -->
      <div class="form-group">
        <label for="question_text" class="control-label">
          Question text
        </label>

        <textarea id="question_text" name="question_text" placeholder="Question text" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for option1 -->
      <div class="form-group">
        <label for="option1" class="control-label">
          Option1
        </label>

        <input type="text" id="option1" name="option1" placeholder="Option1" class="form-control" value="">
      </div>

      <!-- Label and input for option2 -->
      <div class="form-group">
        <label for="option2" class="control-label">
          Option2
        </label>

        <input type="text" id="option2" name="option2" placeholder="Option2" class="form-control" value="">
      </div>

      <!-- Label and input for restaurant_id -->
      <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">

      <button class="btn btn-block btn-success">
        Create Survey
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
